.products-section {
  padding: 0 2.8125em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .products-headline {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;

    .products-headline-title {
      font-size: 1.125em;
      font-weight: 600;
    }

    button {
      border: none;
      background: #fff;
      font-weight: bold;
      font-size: 0.9375em;

      svg {
        margin-left: 0.75em;
      }
    }
  }

  .products {
    display: flex;
    gap: 1.7em;
    flex-wrap: wrap;
    justify-content: center;

    .product-card {
      min-width: 16.875em;
      min-height: 20.1875em;
      border: 1px solid #D1D1D1;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 1em;
      position: relative;

      .product-description, .product-title {
        margin: 0;
        width: 100%;
      }

      img {
        width: 14.8125em;
        height: 11.25em;
        border-radius: 12px;
        opacity: 0.1;
      }

      .product-title {
        font-size: 0.9375em;
        font-weight: 500;
        margin-top: 1em;
      }

      .product-description {
        font-size: 0.75em;
        margin-top: 0.25em;
        font-family: $links-font-family;
        color: #575757;
      }

      .price-and-buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;

        .product-price {
          font-size: 1.125em;
          font-weight: 600;
        }

        button {
          background: $links-color;
          border: 2px solid #46760A;
          border-radius: 12px;
          min-height: 2.25em;
          color: #fff;
          font-size: 0.9375em;
          font-weight: bold;
          font-family: $poppins-font-family;
        }
      }

      .old-price {
        font-size: 0.75em;
        text-decoration: line-through;
        color: #A9A9A9;
      }

      .discount {
        color: $links-color;
        font-size: 0.75em;
        padding: 0.5em;
        top: 2.5em;
        left: 2.5em;
        position: absolute;
        min-width: 3.375em;
        background: #F4F8EC;
        border-radius: 12px;
      }

    }

  }

  @media (max-width: 48em) {
    padding: 2em 1em;

    .products {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}